.main {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: start;
    justify-content: start;
}

.sidebar {
    /* margin-left: 10px; */
    grid-column: 1;
    display: grid;
    grid-template-rows: 200px 1fr;
    align-items: start;
    justify-content: stretch;
    align-self: start;
    justify-self: stretch;
}

.add-transaction {
    grid-row: 1;
    /* margin-top: 30px; */
    align-self: center;
    justify-self: center;
    /* align-items: start;
    justify-content: start; */
}

.menu {
    display: grid;
    grid-row: 2;
}


.page {
    margin-top: 80px;
    width: 1,061.3px;
    height: 100%;
    display: grid;
    grid-column: 2;
    justify-self: center;
    align-self: start;
    /* justify-content: start; */
    /* align-items: center; */
    grid-template-rows: 175px 175px 175px 175px 500px 650px 200px;
    grid-template-columns: 320px 380px 251.3px 400px;
    /* border: 1px solid #949494c0; */
    /* grid-template-columns: 1fr 1fr; */
    /* margin: 50px; */
}

.total-balance {
    padding-right: 10px;
    padding-bottom: 10px;
    /* border: 1px solid #ffffff; */
    display: grid;
    grid-row: 1;
    grid-column: 1;
}
.income-expense-balance {
    padding-bottom: 10px;
    /* border: 1px solid #ffffff; */
    display: grid;
    grid-row: 1;
    grid-column: 2;
}
.accounts-analytic {
    padding-left: 10px;
    padding-bottom: 10px;
    /* border: 1px solid #ffffff; */
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    
}
.last-days {
    padding-bottom: 10px;
    /* border: 1px solid #ffffff; */
    display: grid;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column: span 2;
}
.category-legend {
    /* border: 1px solid #ffffff; */
    padding-left: 10px;
    padding-bottom: 10px;
    /* height: 350px;
    width: 566.3px; */
    display: grid;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
    /* grid-column: span 2; */
    /* align-self: center;
    justify-self: center; */
}
.category-analytic {
    /* border: 1px solid #ffffff; */
    padding-bottom: 10px;
    display: grid;
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 4;
}
.sankey {
    /* border: 1px solid #838383; */
    padding-bottom: 10px;
    display: grid;
    grid-row: 6;
    grid-column-start: 1;
    grid-column-end: 4;
}
.history {
    padding-left: 10px;
    /* padding-bottom: 10px; */
    /* border: 1px solid #ffffff; */
    display: grid;
    grid-row-start: 5;
    grid-row-end: 7;
    /* grid-column-start: 4; */
    grid-column: 4;

}
/* .income-expense {
    border: 1px solid #ffffff;
    height: 350px;
    width: 600px;
    display: grid;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    
}
.account-two-level-piechart {
    border: 1px solid #ffffff;
    height: 320px;
    width: 320px;
    display: grid;
    grid-row: 5;
    grid-column: 1;
    align-self: start;
    justify-self: start;
    align-items: center;
    justify-content: center;

}
.account-barchart {
    border: 1px solid #ffffff;
    height: 400px;
    width: 750px;
    margin-left: 20px;
    display: grid;
    grid-row: 5;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: start;
    justify-self: start;
    align-items: center;
    justify-content: center;

}
.category-two-level-piechart {
    border: 1px solid #ffffff;
    height: 320px;
    width: 320px;
    display: grid;
    grid-row: 6;
    grid-column: 1;
    align-self: start;
    justify-self: start;
    align-items: center;
    justify-content: center;

}
.category-barchart {
    border: 1px solid #ffffff;
    height: 400px;
    width: 750px;
    margin-left: 20px;
    display: grid;
    grid-row: 6;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: start;
    justify-self: start;
    align-items: center;
    justify-content: center;

} */
