.main-auth {
    margin-top: 20px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 500px;
    max-width: 600px;
    min-width: 50px;
    max-height: 500px;
    min-height: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 6px;
    box-shadow: 0px 0px 2px #818181cc;
}
.form Form {
    max-width: 400px;
    min-width: 48px;
    width: 70%;
}

.bottomBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-top: 10px;
}

@media (max-width: 740px) {
    .form {
        width: 300px;
        height: 400px;
    }
    .form Form {
        width: 90%;
    }
}